<?xml version="1.0" encoding="UTF-8"?>


<configuration>
  <connectionStrings>
    <!--<add name="travel" connectionString="Data Source=103.74.54.136,1533;Initial Catalog=ganpati3;User ID=ganpati3_;Password=travels1234!@#$" providerName="System.Data.SqlClient" />-->
    <add name="Con" providerName="System.Data.SqlClient" connectionString="Data Source=VISHAL;Initial Catalog=Tourism; integrated security=true"/>
 
  </connectionStrings>
  <appSettings>
    <add key="webpages:Enabled" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" defaultLanguage="C#" targetFramework="4.0" />
    <customErrors mode="Off" />
    <authentication mode="Windows" />
  </system.web>
    <system.webServer>
        <directoryBrowse enabled="false" />
        <defaultDocument>
            <files>
                <clear />
                <add value="index.aspx" />
            </files>
        </defaultDocument>
        <httpErrors errorMode="DetailedLocalOnly" existingResponse="Auto" />
    </system.webServer>
</configuration>
<!--<configuration>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>

</configuration>-->
